<%= form_tag('/posts/create') do %>
    <div class="form-signin">
  

  <label for="inputEmail" class="sr-only">内容</label>
  <input type="text" id="inputContent" class="form-control" name="content" placeholder="投稿内容" required autofocus>
  
    <input button class="btn btn-lg btn-primary btn-block" type="submit"></button>

  <%end%>